<img src = coverpage.png />

# NumPy

NumPy adalah salah satu library python yang berisikan operasi aljabar linear (matrix, array, dan operasi aljabar lain). Dalam data science, library ini merupakan salah satu library yang sering digunakan pada umumnya, pada modul ini akan diberikan penjelasan serta contoh syntax dengan menggunakan library NumPy.

Pada modul sebelumnya telah dijelaskan mengenai array, selanjutnya pada modul ini akan dilanjutkan dengan 'operation' dengan library NumPy. Adapun beberapa operasi yang akan dibahas kali ini adalah :
1. Indexing
2. Selection
3. Operasi aritmatika
4. Array function

In [1]:
import numpy as np

## Indexing dan Selection

Dalam sebuah baris atau array terdapat sebuah index, atau sebuah sistem penomoran value yang terdapat didalamnya. Pada sistem indexing dalam NumPy ini index pertama merupakan urutan index 0. Index juga diperlukan untuk operasi seleksi, untuk lebih jelasnya bisa dilihat dibawah ini.

In [2]:
ar = np.arange(1,10)

In [3]:
ar

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Pada array diatas terdapat value 1,2,3,...,9 dan untuk index nilai 1 adalah 0, kemudian index nilai 9 adalah 8, dikarenakan index selalu diawali dari urutan 0 bukan 1. Agar lebih mudah memahami, berikut adalah ilustrasi index dan value dalam sebuah array.

<img src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRptIGwXqhkAlPELVi5j81W2M-PRXCEL6sQIQ&usqp=CAU' />

Kemudian untuk membuktikannya, dibawah ini akan dicoba untuk memanggil array dengan ketentuan index sebagai berikut :
1. index pertama / index 0 
2. index terakhir / index 8
3. index ke-5 dan setelahnya
4. index ke-4 dan sebelumnya

In [4]:
#index pertama
ar[0]

1

In [5]:
#index terakhir
ar[8]

9

In [6]:
#index ke-5 dan setelahnya
ar[5:]

array([6, 7, 8, 9])

In [7]:
#index ke-4 dan sebelumnya
ar[:4]

array([1, 2, 3, 4])

Untuk pemanggilan array dengan syntax ar[n:] akan menghasilkan output array dari index ke-n hingga terakhir, sebaliknya jika ingin memanggil index array ke-n dan sebelumnya maka syntax yang ditulis dalah arr[:n]. Kesimpulannya, jika ingin memanggil array dengan index pertama hingga ke-n maka rumus penulisan syntax nya yaitu tanda ':' kemudian tuliskan index 'n', jika ingin memanggil array dengan index ke-n hingga terakhir maka akan berlaku sebaliknya, yaitu tuliskan index 'n' dahulu kemudian tanda ':' 

Kemudian selanjutnya akan dicontohkan indexing pada matrix. Pada matrix dengan dimensi (n,n) konsep penulisan syntax adalah sebagai berikut

<img src = '' />

In [8]:
#indexing array 2D
ar2 = np.array([[1,2,3],[4,5,6]])

In [9]:
ar2

array([[1, 2, 3],
       [4, 5, 6]])

In [10]:
ar2[0][2]

3

In [11]:
ar2[1][:]

array([4, 5, 6])

## Operasi Aritmatika

Dalam operasi aritmatika, array yang telah didefinisikan dapat dilakukan operasi seperti penjumpahan, pengurangan, perkalian, pembagian, dan pemangkatan dengan sebuah array atau dengan bilangan konstanta.

In [12]:
ar

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
ar + ar

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [14]:
ar*3

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27])

In [15]:
ar - 4

array([-3, -2, -1,  0,  1,  2,  3,  4,  5])

In [16]:
ar*ar

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81])

In [17]:
ar/10

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [18]:
ar**3

array([  1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [19]:
ar%3

array([1, 2, 0, 1, 2, 0, 1, 2, 0], dtype=int32)

## Array Function

Array function merupakan fungsi fungsi yang dapat diterapkan pada array, contohnya seperti mencari nilai maksimum, mencari nilai minimum, fungsi trigonometri, fungsi exponensial, dll.

### mencari nilai maksimum, minimum dan rata rata

In [20]:
arr = np.random.randint(1,20,10)

In [21]:
arr

array([15, 19, 14, 16, 18,  5, 13, 14,  6, 19])

In [22]:
print('nilai maksimum = ', arr.max())

nilai maksimum =  19

In [23]:
print('nilai minimum = ', arr.min())

nilai minimum =  5

In [24]:
print('nilai rata rata = ',arr.mean())

nilai rata rata =  13.9

### fungsi exponensial dan pengakaran

In [25]:
ar

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
#operasi exponensial dengan bilangan e
np.exp(ar)

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03])

In [27]:
#operasi pengakaran kuadrat
np.sqrt(ar)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        ])

In [28]:
#fungsi logaritma
np.log(ar)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458])

### fungsi trigonometri

In [29]:
x = np.array([0,15,30,45,60,75,90])
sudut = np.deg2rad(x)

In [30]:
sudut

array([0.        , 0.26179939, 0.52359878, 0.78539816, 1.04719755,
       1.30899694, 1.57079633])

In [31]:
#sinus
np.sin(sudut)

array([0.        , 0.25881905, 0.5       , 0.70710678, 0.8660254 ,
       0.96592583, 1.        ])

In [32]:
#cosinus
np.cos(sudut)

array([1.00000000e+00, 9.65925826e-01, 8.66025404e-01, 7.07106781e-01,
       5.00000000e-01, 2.58819045e-01, 6.12323400e-17])

In [33]:
#tangen
np.tan(sudut)

array([0.00000000e+00, 2.67949192e-01, 5.77350269e-01, 1.00000000e+00,
       1.73205081e+00, 3.73205081e+00, 1.63312394e+16])

In [34]:
sd = np.random.rand(1,10)

In [35]:
sd

array([[0.53009796, 0.87436511, 0.5527692 , 0.28481109, 0.58276506,
        0.03574511, 0.21166765, 0.26462831, 0.68224498, 0.5449064 ]])

In [36]:
#arcsin
np.arcsin(sd)

array([[0.55871609, 1.06412594, 0.58568362, 0.28880935, 0.62212712,
        0.03575272, 0.21328096, 0.26781847, 0.75082885, 0.57627749]])

In [37]:
#arccos
np.arccos(sd)

array([[1.01208024, 0.50667038, 0.98511271, 1.28198698, 0.94866921,
        1.5350436 , 1.35751537, 1.30297786, 0.81996748, 0.99451884]])

In [38]:
#arctan
np.arctan(sd)

array([[0.48743505, 0.7184703 , 0.50496679, 0.27746443, 0.52765035,
        0.03572989, 0.20858887, 0.2586984 , 0.59871019, 0.49892417]])

## Selamat Mencoba